body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

.list-group {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
}

li {
    cursor: pointer;
}
 

.btn-pink{
   position: fixed;
    background-color:#fdebea ;
    border-radius: 2rem;
    position: fixed;
    width: 10rem;
    
    
    /* margin-bottom: 10px; */}
.btn-pink:hover{
      
        background-color: #30313a;
        color: white;
    }