<div id="map"></div>

<div class="container">
  <ul class="list-group" class="container">
    <li
      class="list-group-item list-group-item-info"
      (click)="isCollapsedSiteForm = !isCollapsedSiteForm"
      [attr.aria-expanded]="!isCollapsedSiteForm"
      aria-controls="collapseExample"
    >
      +Agregar Lugar
    </li>
  </ul>
  <div id="collapseExample" [ngbCollapse]="isCollapsedSiteForm">
    <form #SiteForm="ngForm" class="form-signin">
      <div>
        <label for="nombre" class="texto">Nombre del Sitio</label>
        <input
          [(ngModel)]="site.Nombre"
          type="text"
          name="nombre"
          placeholder="Nombre del Sitio"
          class="form-control"
        />
      </div>
      <div>
        <label for="nombre" class="texto">Descripción del Sitio</label>
        <input
          [(ngModel)]="site.Descripcion"
          type="text"
          name="nombre"
          placeholder="Descripción del Sitio"
          class="form-control"
        />
      </div>
      <div>
        <label for="nombre" class="texto">Latitud</label>
        <input
          [(ngModel)]="site.Latitud"
          type="text"
          name="nombre"
          placeholder="Primer Apellido"
          class="form-control"
        />
      </div>
      <div>
        <label for="nombre" class="texto">Longitud</label>
        <input
          [(ngModel)]="site.Longitud"
          type="text"
          name="nombre"
          placeholder="Segundo Apellido"
          class="form-control"
        />
      </div>
      <div>
        <button (click)="agregar_lugar(SiteForm)" class="btn btn-pink w-100">
          Agregar Marcador
        </button>
        <button (click)="agregar_lugar(SiteForm)" class="btn btn-pink w-100">
          Guardar Cambios
        </button>
        <button class="btn btn-pink w-100" (click)="isCollapsedSiteForm = !isCollapsedSiteForm">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>


<div class="container">
    <ul class="list-group" class="container">
      <li
        class="list-group-item list-group-item-info"
        (click)="isCollapsedCommentForm = !isCollapsedCommentForm"
        [attr.aria-expanded]="!isCollapsedCommentForm"
        aria-controls="collapseExample"
      >
        +Agregar Comentario
      </li>
    </ul>
    <div id="collapseExample" class="container" [ngbCollapse]="isCollapsedCommentForm">
      <form #SiteForm="ngForm" class="form-signin">
        <div>
          <label for="nombre" class="texto">Título de Comentario</label>
          <input
            [(ngModel)]="site.Nombre"
            type="text"
            name="nombre"
            placeholder="Nombre del Sitio"
            class="form-control"
          />
        </div>
        <div data-validate="Comments is required">
          <label class="texto" for="text">Comentarios</label>
          <textarea
            class="form-control form-floating"
            rows="5"
            id="comments"
            placeholder="Comentarios"
            name="text"
          ></textarea>
        </div>
        <div>
          <button (click)="agregar_lugar(SiteForm)" class="btn btn-pink w-100">
            Guardar Cometario
          </button>
          <button
            class="btn btn-pink w-100"
            (click)="isCollapsedCommentForm = !isCollapsedCommentForm"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

<div class="container album py-5 bg-light">
  <div class="container">
    <div class="col-md-4" (click)="ir_a_marcador()">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text">
            Este sitio esta bien culero, roban matan y salatan.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <div class="text">Yo</div>
            </div>
            <small class="text-muted">12/12/2021</small>
          </div>
        </div>
      </div>
    </div>
  

  