<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <div class="container" class="map" id="map" class="match-parent">
    </div>


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Este sitio esta bien culero, roban matan y salatan.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="text">Yo</div>
                            </div>
                            <small class="text-muted">12/12/2021</small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Espera.... Es mi casa :( </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="text">Yo</div>
                            </div>
                            <small class="text-muted">12/12/2021</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>