   *{ 
        box-sizing: border-box;
    }
html, body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: white;
    margin-top: 20%;

}
.container .star-widget input{
    align-items: center;
    display: none;
}.star-widget label{
    font-size: 20px;
    color: #444;
    padding: 10px;
    float: none;
    transition: all 0.2s ease;
}.star-widget label:hover{
    color: #fd4;

}
input:not(:checked) label:hover,
input:not(:checked) label:hover label{
    color: #fd4;
}
input::checked label{
    color: #fd4;
}
input #rate-5:checked label{
    color: #fd7;
    text-shadow: 0 0 20px #952;
}



.map{
    margin-top: 5%;
    height: 300px;
}

.mapa {
    height: 500px;
    width: 500px;
    position: static;
    top: 20px;
    right: 20px;
    z-index: 99;
    
}

.list-group {
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 99;
}

.list-group_bottom {
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 99;
}

li {
    cursor: pointer;
}

.btn-pink{
    background-color:#fdebea ;
    border-radius: 2rem;
    margin: 10px auto;
    
    /* margin-bottom: 10px; */}
    .btn-pink:hover{
      
        background-color: #30313a;
        color: white;
    }
.size{
    color:#f5b6be;
    
  
}
.btn-add{
    background-color:#fdebea ;
    border-radius: 2rem;
    margin: 35px auto;
    color: black;
    text-align: center;
    
    /* margin-bottom: 10px; */}
    .btn-add:hover{
      
        background-color: #30313a;
        color: white;
}
.img{
   
    object-fit: cover;
   
}
.title{
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    margin: 20px;
    text-align: center;

  }