.mapa {
    height: 500px;
    width: 500px;
    position: static;
    top: 20px;
    right: 20px;
    z-index: 99;
}

.list-group {
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 99;
}

.list-group_bottom {
    position: relative;
    top: 20px;
    right: 20px;
    z-index: 99;
}

li {
    cursor: pointer;
}

.btn-pink{
    background-color:#fdebea ;
    border-radius: 2rem;
    margin: 35px auto;
    
    /* margin-bottom: 10px; */}
    .btn-pink:hover{
      
        background-color: #30313a;
        color: white;
    }
.size{
    color:#f5b6be;
    
  
}