<div class="txt-usuario">
  <h5>¡¡¡ Tu opinión es importante !!!</h5>
</div>
<div class="form-signin">
  <div data-validate="Name is required">
    <label class="texto" for="name">Usuario</label>
    <input type="text" name="name" placeholder="Nombre" class="form-control" />
  </div>
  <div data-validate="Mail is required">
    <label class="texto" for="mail">email</label>
    <input type="text" name="mail" placeholder="Correo" class="form-control" />
  </div>
  <div data-validate="Comments is required">
    <label class="texto" for="text">Comentarios</label>
    <textarea
      class="form-control form-floating"
      rows="5"
      id="comments"
      placeholder="Comentarios"
      name="text"
    ></textarea>
  </div>
  <button class="btn btn-pink">Enviar Comentarios</button>
</div>
