html,
body {
  height: 100%;
  background-color: #787785 !important;
}
.footer{
  position:absolute;
  bottom: -2090px;
  width: 100%;

}
  

/* You can add global styles to this file, and also import other style files */


