

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;height: 100%;
   
  }
  
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 15px auto  ;
  border-radius: 50%;
  text-align: center;
}

.form-signin .checkbox {
 color:#f5b6be;
 font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.texto{
color: white;
margin-top: 15px;
font-family: 'PT Sans', sans-serif;
text-transform: uppercase;

}
.texto:first-child{
    margin-top: 0;
}
.txt-usuario{
    color: #f5b6be;
    margin: 5px;
    font-size: small;
}
.btn-pink{
    background-color:#fdebea ;
    border-radius: 2rem;
    margin: 35px auto;
    
    /* margin-bottom: 10px; */}
.btn-pink:hover{
      
        background-color: #30313a;
        color: white;
    }
.size{
    color:#f5b6be;
    
  
}
.center{
  justify-content: center;
  align-items: center;
}

