<div class="t">
  <h5 class="title">Mi Perfil</h5>
</div>
<div class="form-signin center">
  <img
   *ngIf="!imageSrc"
    src="https://i.pinimg.com/originals/69/26/dc/6926dc79ee3d02fb64f4cc04381c65d8.jpg"
    alt="Avatar"
    style="width: 200px"
  />

  <img
  *ngIf="imageSrc"
  [src]="imageSrc"
  class="card-img-top "
  alt="No ha selecionado Foto de Perfil"
  
/>
</div>
<form #ProfileForm="ngForm" class="form-signin">
  <div>
    <label for="nombre" class="texto">Primer Nombre</label>
    <input
      [(ngModel)]="user.p_Nombre"
      type="text"
      name="nombre"
      placeholder="Primer Nombre"
      class="form-control"
    />
  </div>
  <div>
    <label for="nombre" class="texto">Segundo Nombre</label>
    <input
      [(ngModel)]="user.s_Nombre"
      type="text"
      name="nombre"
      placeholder="Segundo Nombre"
      class="form-control"
    />
  </div>
  <div>
    <label for="nombre" class="texto"> Primer Apellido</label>
    <input
      [(ngModel)]="user.apellido_Paterno"
      type="text"
      name="nombre"
      placeholder="Primer Apellido"
      class="form-control"
    />
  </div>
  <div>
    <label for="nombre" class="texto"> Segundo Apellido</label>
    <input
      [(ngModel)]="user.apellido_Materno"
      type="text"
      name="nombre"
      placeholder="Segundo Apellido"
      class="form-control"
    />
  </div>
  <div>
    <label class="texto" for="start texto">Fecha de Nacimiento:</label>
    <br />
    <input ng-controller="datCtrl"
      [(ngModel)]="user.fecha_Nacimiento "
      type="date"
      id="start"
      name="trip-start"
      min="1900-01-01"
      max="2018-12-31"
    />
  </div>
  <div>
    <label for="email" class="texto">Email </label>
    <input
    [(ngModel)]="user.email"
    type="text"
      name="nombre"
      placeholder="Email"
      class="form-control"
  />
  <div>
    <label for="email" class="texto">Teléfono</label>

        <input [(ngModel)]="user.telefono" name="pass" placeholder="Telefono" class="form-control" />
    </div>
    <span></span>
  </div>
  <!-- <div data-validate="Password is required">
    <label class="texto">Password </label>

    <input
      [(ngModel)]="user.pass"
      type="password"
      name="pass"
      placeholder="Password"
      class="form-control"
    />
  </div> -->
  <div>
    <button class="btn btn-pink w-100">Editar</button>
    <button (click)="updateUser(ProfileForm)" class="btn btn-pink w-100">
      Guardar Cambios
    </button>
  </div>
</form>
