.bg-color {
    background-color: #fdebea;
}

.color {
    color: #30313a;
}

.color-btn {
    background-color: #30313a;
}

.text {
    font-family: 'Meow Script', cursive;
}

.btn-pink {
    background-color: #fdebea;
    border-radius: 2rem;
    margin: auto;
    font-size: 20px;
    color: #30313a;
    font-family: 'Lobster Two', cursive;
}

.btn-pink:hover {
    background-color: #30313a;
    color: white;
}