.bg-color {
    background-color: #fdebea;
}

.color {
    color: #30313a;
}

.color-btn {
    background-color: #30313a;
}

.text {
    font-family: 'Meow Script', cursive;
}

.btn-pink {
    background-color: #30313a;
    color: white;
    border-radius: 2rem;
    margin: auto;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    
    
}

.btn-pink:hover {
    background-color:#f5b6be;
    color: black;
    
    
}