<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand navbar-expand">
        <img src="https://tinypng.com/images/social/website.jpg" alt="logo" style="width: 40px;" />
    </div>

    <a class="navbar-brand" href="https://github.com/isscjrmpacheco">StaylynSafe.co</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link active" routerLink="/home">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" routerLink="/login" class="btn btn-outline-success">Login</a>
            </li>
        </ul>
    </div>
</nav>